<div>
    <table datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th>ID</th>
                <th>ROL</th>
                <th>NAME</th>
                <th>ACTIVE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of allUsers" (click)="edit(user.id)">
                <td>{{ user.id }}</td>
                <td>{{ getRole(user.id_rol) }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.activo }}</td>
            </tr>
        </tbody>
    </table>
    <input type="button" value="Create" (click)="createUser()">
    <br><br>
    <input type="button" value="Back" (click)="SearchUser()">
    <br><br>
    <button>
        <a class="buttontitle" href="/home">Home</a> 
    </button>
</div>