<div>

    <div>

        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <div>
                <label for="name">Name</label>
                <input type="text" name="fname" class="form-control" value="user.nombre" #name #nombre="ngModel"
                    [(ngModel)]="user.nombre">
            </div>
            <br>
            <div>
                <label for="role">Rol</label>
                <select name="role" [(ngModel)]="user.id_rol">
                    <option *ngFor="let role of roles" value="{{role.id}}" >{{role.nombre}}</option>
                </select>

            </div>
            <br>
            <div>
                Active
                <select [(ngModel)]="user.activo" name="Active">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <br>
            <input type="submit" value="Create"  class="btn btn-success"><br><br>
            <input type="button" value="Back" (click)="return()" class="btn btn-warning">
            <br><br>
            <button>
                <a class="buttontitle" href="/home">Home</a> 
            </button>
        </form>

    </div>
</div>